---
layout: default
---

{% for post in paginator.posts %}
<section class="post">
  <header class="post-header">
    <p class="post-meta">
      <span class="post-date">
        {{ post.date | date: "%-d %b %Y" | upcase }}
      </span>
      {% if post.categories.size > 0 %}
      •
      {% for cat in post.categories %}
        <a class="post-cat" href="{{ site.baseurl }}/categories/#{{ cat }}">{{ cat }}</a>
        {% unless forloop.last %}
        <span>/</span>
        {% endunless %}
      {% endfor %}
      {% endif %}
    </p>
    <h4>
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-title" title="{{ post.title }}">{{ post.title }}</a>
      {% if post.link %}
      <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-external-link"></i></a>
      {% endif %}
    </h4>

    {% if post.author %}
      {% assign author = site.data.authors[post.author] %}
    {% else %}
      {% assign author = site.owner %}
    {% endif %}

    </header>


    <div class="post-description">
    <p>
    {% if post.content contains site.excerpt_separator %}
       {{ post.excerpt }}
       <p style="text-align: right"><a class="btn" href="{{ post.url | prepend: site.baseurl }}">阅读全文</a></p>
    {% else %}
      {{ post.content }}
    {% endif %}
    </p>
    </div>

    {% if post.image.feature %}
    <div class="post-image-feature">
      <img src=
      {% if post.image.feature contains 'http' %}
      "{{ post.image.feature }}"
      {% else %}
      "{{ site.url }}/img/{{ post.image.feature }}"
      {% endif %}
      alt="{{ post.title }} feature image">

      {% if post.image.credit %}
      <span class="image-credit">Photo Credit: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
      {% endif %}
    </div><!-- /.image-wrap -->
    {% endif %}

</section>

{% endfor %}



<section class="pager">
  {% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
  <a class="btn btn-pager" href="{{site.baseurl}}/" title="查看新贴">&larr; 查看新贴</a>
  {% else %}
  <a class="btn btn-pager" href="{{site.baseurl}}/page{{ paginator.previous_page }}/" title="查看新贴">&larr; 查看新贴</a>
  {% endif %}
  {% endif %}
  {% if paginator.next_page %}
  <a class="btn btn-pager" href="{{site.baseurl}}/page{{ paginator.next_page }}/" title="查看老帖">查看老帖 &rarr;</a>
  {% endif %}
</section>
